* a {outline: none !important;}
.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}

body {
	padding-top: 60px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 22px;
	-webkit-transition: text-shadow .25s linear;
	   -moz-transition: text-shadow .25s linear;
	    -ms-transition: text-shadow .25s linear;
	     -o-transition: text-shadow .25s linear;
	        transition: text-shadow .25s linear;
}
.navbar-inverse .navbar-brand:hover {
	text-shadow: 0 0 15px #fff;
}

.row {margin-bottom: 20px;}
.select-left-group {
	margin-bottom: 10px;
}
.select-left-group select {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 10px;
}
.select-left-group select option {
	height: 30px;
	line-height: 30px;
}

.test-link a {
	margin-right: 10px;
	color: #777;
}

.gr-box-1 .gr-box-1-title {
	color: #777;
}

.gr-box-1 img {
	width: 100%;
	display: block;
}


footer {
	border-top: 1px solid #377ca8;
	padding: 30px 0;
}
.copy {
	color: #377ca8;
}

.group-select {
	margin-bottom: 10px;
}
.group-select input {
	margin-right: 5px;
	vertical-align: top;
}
.group-select label {
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	vertical-align: top;
	font-size: 14px;
}
.gr-2 {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}